.container {
    padding: 20px;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.container li {
    cursor: pointer;
    list-style: none;
    padding: 12px 16px;
    border-radius: 10px;
    font-weight: 500;
    color: var(--text);
    font-weight: bold;
    transition: 0.2s ease;
}

.container li:hover {
    transform: translateX(4px);
}

.container li.active {
    background-color: var(--bg);
    color: var(--text-white);
    box-shadow: 0 4px 12px var(--shadow);
}

@media (max-width: 900px) {
    .container {
        padding: 15px;
    }

    .container li {
        padding: 10px 14px;
        font-size: 0.95rem;
    }
}

@media (max-width: 600px) {
    .container ul {
        display: flex;
        justify-content: center;
        gap: 10px;
        padding: 0;
    }

    .container li {
        padding: 8px 12px;
        font-size: 0.9rem;
        transform: none;
    }

    .container li:hover {
        transform: none;
    }


    .container.fixed {
        background-color: var(--bg);
        color: white;
        font-weight: 600;
        box-shadow: 0 4px 12px var(--shadow);
    }

    .container.fixed li {
        color: var(--text-white);
    }
}

@media (max-width: 480px) {
    .container ul {
        flex-wrap: wrap;
    }

    .container li {
        padding: 6px 10px;
        font-size: 0.85rem;
        border-radius: 8px;
    }
}